.container {
    background-color: white;
    width: 10rem;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1.125rem solid #DC2E4E;
    border-radius: 50%;
    -webkit-box-shadow: inset 0 5px 6px gray, 0 8px #a11b34;;
    -moz-box-shadow: inset 0 5px 6px gray, 0 8px #a11b34;;
    box-shadow: inset 0 5px 6px gray, 0 8px #a11b34;;
    position: absolute;
    bottom: 2.5rem;
    left: 10.5625rem;
    transition: ease-in-out all 0.2s
}   

.container:hover{
    transform: scale(1.1);
    transition: ease-in-out all 0.2s
}