.page{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
}

.infoModal{
    position: absolute;
    top: calc(100%/2 - 200px);
    left: calc(100%/2 - 180px);
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 360px;
    height: 400px;
    background-color: white;
    border-radius: 10px;
    border: none;
}

.infoModalContent {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.infoModalTitle{
    color: #3b4363;
    font-size: 36px;
    font-weight: bold;
    margin-left: 20px;
}

.infoModalButton{
    border: none;
    background-color: transparent;
    margin-right: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rulesImg{
    margin-bottom: 1.25rem;
}